// <div className="container-wrapper">
// <div className="container-navbar">
//     <h1>Silent Auction</h1>

//     <nav className="navbar">
//      <Route path="/"></Route>
//      <button><Link to="/">Home</Link></button>
//      <button><Link to="/create">Create Auction</Link></button>
//      <button>Sign Up</button>
//      <button>Login</button>
//     </nav>
// </div>
// </div>

.container-wrapper {
    display: flex;
    padding: 6px;
    background-color: grey;
    justify-content: space-between;
    border: solid black;

    .container-navbar {
        display: flex;
        justify-content: space-evenly;
        border: solid red;
        width: 100%;
        align-content: center;
        align-items: center;
        
    
        h1 {
            padding: 4px;
            border: solid;
            width: 25%;
            
        }

        .navbar {
            border: solid;
            width: 75%;
            justify-content: space-evenly;

            button{
                padding: 5px;
                width: 20%;
                margin: 2%;
                border-radius: 4px;
            }
        }
    }
}