// <div className="container-wrapper">
// <div className="container-navbar">
//     <h1>Silent Auction</h1>

//     <nav className="navbar">
//      <Route path="/"></Route>
//      <button><Link to="/">Home</Link></button>
//      <button><Link to="/create">Create Auction</Link></button>
//      <button>Sign Up</button>
//      <button>Login</button>
//     </nav>
// </div>
// </div>

.container-wrapper {
    display: flex;
    padding: 2px;
    background-color: grey;
    justify-content: space-evenly;

    .container-navbar {
        display: flex;
        justify-content: space-between;
    
        // h1 {
            
        // }

        .navbar {
            align-content: center;
        }
    }
}