/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #AEAEAE;
}
.mainContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  font-size: 16px;
}
.mainContainer .content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}
.auctionCard {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  width: 250px;
  border: 1px solid #4e4e52;
  background-color: #ccc1c1;
  padding: 1%;
  margin: 1%;
  line-height: 1px;
  box-shadow: 2px 2px grey;
}
.auctionCard h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10%;
}
.auctionCard p {
  line-height: normal;
  margin-bottom: 10%;
}
.auctionCard label {
  margin-bottom: 10%;
  margin-right: 1%;
}
.auctionCard .imageContainer {
  margin-bottom: 10%;
}
.auctionCard .imageContainer img {
  width: 100%;
  height: 250px;
}
.auctionCard .buttonContainer {
  display: flex;
  justify-content: flex-end;
}
.auctionCard .bid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #4e4e52;
  padding: 5px;
  color: white;
  box-shadow: 2px 2px grey;
  height: 15px;
  width: 100px;
  cursor: pointer;
}
.signUpCard {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  width: 250px;
  border: 1px solid #4e4e52;
  background-color: #ccc1c1;
  padding: 1%;
  margin: 1%;
  line-height: 1px;
  box-shadow: 2px 2px grey;
}
.signUpCard h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10%;
}
.signUpCard p {
  line-height: normal;
  margin-bottom: 10%;
}
.signUpCard .buttonContainer {
  display: flex;
  justify-content: flex-end;
}
.signUpCard .bid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #4e4e52;
  padding: 5px;
  color: white;
  box-shadow: 2px 2px grey;
  height: 15px;
  width: 100px;
  cursor: pointer;
}
.signUpCard .formContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1%;
}
.signUpCard .formContainer form input {
  margin-bottom: 5%;
}
.signUpCard .formContainer form label {
  margin-bottom: 3%;
}
.signUpCard .buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
