/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container-wrapper {
  display: flex;
  padding: 2px;
  background-color: grey;
  justify-content: space-between;
  border: solid black;
}
.container-wrapper .container-navbar {
  display: flex;
  justify-content: space-evenly;
  border: solid red;
  width: 100%;
  align-content: center;
  align-items: center;
}
.container-wrapper .container-navbar h1 {
  padding: 4px;
  border: solid;
  width: 20%;
}
.container-wrapper .container-navbar .navbar {
  display: flex;
  border: solid yellow;
  width: 100%;
  justify-content: space-evenly;
}
.container-wrapper .container-navbar .navbar button {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  width: 15%;
  margin: 1%;
  border: solid blue;
  border-radius: 4px;
  background-color: orange;
}
.container-wrapper .container-navbar .navbar button a {
  text-decoration: none;
  color: black;
}
